<!-- Toolbar -->
<div class="toolbar" role="banner">
  <img style="background: white; margin-left: 0"
       width="100" alt="Respir Ar"
       src="/assets/images/posibleLogo2.png"/>
  <h2>Respir-Ar</h2>
  <div class="spacer"></div>

  <button mat-icon-button (click)="openModal()" aria-label="Settings for user">
    <mat-icon>settings</mat-icon></button>

  <button mat-icon-button (click)="logout()" aria-label="Log-out">
    <mat-icon>power_settings_new</mat-icon></button>
</div>

<router-outlet></router-outlet>
