<div class="patient-info">

  <mat-form-field>
    <mat-label>Nombres</mat-label>
    <textarea matInput readonly mat-autosize [value]="patient.nombres"></textarea>
  </mat-form-field>

  <mat-divider inset vertical></mat-divider>
  <mat-form-field>
    <mat-label>Apellidos</mat-label>
    <textarea matInput readonly mat-autosize [value]="patient.apellidos"></textarea>
  </mat-form-field>

  <mat-divider inset vertical></mat-divider>
  <mat-form-field>
    <mat-label>Edad</mat-label>
    <textarea matInput readonly mat-autosize [value]="patient.edad"></textarea>
  </mat-form-field>

  <mat-divider inset vertical></mat-divider>
  <mat-form-field>
    <mat-label>Nro Paciente</mat-label>
    <textarea matInput readonly mat-autosize [value]="patient.numeroPaciente"></textarea>
  </mat-form-field>

  <mat-divider inset vertical></mat-divider>
  <mat-form-field>
    <mat-label>Genero</mat-label>
    <textarea matInput readonly mat-autosize [value]="patient.genero"></textarea>
  </mat-form-field>

  <mat-divider inset vertical></mat-divider>
  <mat-form-field>
    <mat-label>Fecha de Internación</mat-label>
    <textarea matInput readonly mat-autosize value="{{patient.fechaNacimiento | date: 'M/d/yy'}}"></textarea>
  </mat-form-field>

  <mat-divider inset vertical></mat-divider>
<!--  <mat-form-field>-->
<!--    <mat-label>Aflicciones medicas</mat-label>-->

<!--    <mat-chip-list aria-label="Aflicciones medicas" >-->
<!--      <mat-chip *ngFor="let afliction of patient.afliction" [selectable]="false">-->
<!--        {{afliction.name}}-->
<!--      </mat-chip>-->
<!--    </mat-chip-list>-->
<!--  </mat-form-field>-->
</div>
