.login-form{
  margin: auto;
  width: 35%;
  padding: 30px 35px;
  text-align: center;
  background: white;
  color: black;
}

.form-field{
  width: 90%;
  margin-bottom: 15px
}

.mat-raised-button[disabled][disabled] {
  background-color: rgba(0, 0, 0, .12);
}

.mat-raised-button[disabled][disabled] {
  color: rgba(0,0,0,.26);
}

.mat-form-field-appearance-outline .mat-form-field-outline-thick{
  color: rgba(39, 20, 20, 0.3)!important;
}

.mat-form-field-appearance-outline .mat-form-field-outline {
  color: rgba(39, 20, 20, 0.3)!important;
}

.mat-form-field-label {
  color: rgba(0, 0, 0, 0.7)!important;
}

.content{
  height: 100%;
  background: #f6fafb;
}

.title{
  text-align: center;
  margin-top: 0;
  padding-top: 20px;
}

.img-title {
  margin-left: 0;
  border-radius: 3em;
  background: white;
  height: 80px;
  width: 80px;
}
