<div class="content">

  <div class="title" >
    <p>
      <img class="img-title"
           width="80" alt="Respir Ar"
           src="/assets/images/posibleLogo2.png"/>
    </p>

    <p style="font-size: 25px;">Bienvenido a RespirAr</p>
  </div>

  <mat-card class="login-form">

    <mat-divider></mat-divider>

    <mat-card-content >
      <form [formGroup]="loginForm" (ngSubmit)="login()" novalidate>

        <mat-form-field color="primary" appearance="outline" style="margin-top: 10px" class="form-field">
          <mat-label>Ingrese el Codigo del Paciente</mat-label>
          <input matInput placeholder="pepito" type="text" formControlName="username" style="font-size: 14px">
          <mat-error *ngIf="(errorUsername() && loginForm.controls.username.errors.required)">
            Nombre De Usuario Es Requerido
          </mat-error>
        </mat-form-field>

        <button mat-raised-button type="submit" [disabled]="loginForm.invalid" style="width: 90%;">
          Iniciar Sesión
        </button>
      </form>
    </mat-card-content>
  </mat-card>
</div>
