<h2 mat-dialog-title>Configuraciones</h2>
<mat-dialog-content class="mat-typography">
  <mat-accordion>

    <mat-expansion-panel>

      <mat-expansion-panel-header>
        <mat-panel-title>
          Latidos del Corazon
        </mat-panel-title>
        <mat-panel-description>
          Ingrese el minimo, maximo y mensaje de alerta para los BPM
        </mat-panel-description>
      </mat-expansion-panel-header>

      <p>
        <mat-form-field appearance="outline" style="width: 49%;">
          <mat-label>valor minimo</mat-label>
          <input matInput min="0" type="number" [max]="this.config.pulsoMaximo"
                 [(ngModel)]="this.config.pulsoMinimo" (change)="changeValues()">
        </mat-form-field>

        <mat-form-field appearance="outline" style="width: 49%; margin-left: 10px;">
          <mat-label>valor maximo</mat-label>
          <input matInput min="0" type="number" [min]="this.config.pulsoMinimo"
                 [(ngModel)]="this.config.pulsoMaximo" (change)="changeValues()">
        </mat-form-field>
      </p>


<!--      <p>-->
<!--        <mat-form-field appearance="outline" style="width: 100%">-->
<!--          <mat-label>Mensaje Alerta</mat-label>-->
<!--          <input matInput type="string" [max]="heartConf.mensajeAlarma"-->
<!--                 [(ngModel)]="heartConf.mensajeAlarma" (change)="changeHeart()">-->
<!--        </mat-form-field>-->
<!--      </p>-->

    </mat-expansion-panel>

    <mat-expansion-panel>

      <mat-expansion-panel-header>
        <mat-panel-title>
          Oxigeno en Sangre
        </mat-panel-title>
        <mat-panel-description>
          Ingrese el minimo valor que puede adoptar el SpO2
        </mat-panel-description>
      </mat-expansion-panel-header>

      <p>
        <mat-form-field appearance="outline" style="width: 100%;">
          <mat-label>valor minimo</mat-label>
          <input matInput min="0" type="number" [max]="this.config.oxigenoEnSangreMaximo"
                 [(ngModel)]="this.config.oxigenoEnSangreMinimo" (change)="changeValues()">
        </mat-form-field>
      </p>

      <!--      <p>-->
      <!--        <mat-form-field appearance="outline" style="width: 100%">-->
      <!--          <mat-label>Mensaje Alerta</mat-label>-->
      <!--          <input matInput type="string" [max]="spo2Conf.mensajeAlarma"-->
      <!--                 [(ngModel)]="spo2Conf.mensajeAlarma" (change)="changeOxigen()">-->
      <!--        </mat-form-field>-->
      <!--      </p>-->

    </mat-expansion-panel>

    <mat-expansion-panel>

      <mat-expansion-panel-header>
        <mat-panel-title>
          Respiraciones por Minuto
        </mat-panel-title>
        <mat-panel-description>
          Ingrese el minimo, maximo y mensaje de alerta para el ritmo respiratorio
        </mat-panel-description>
      </mat-expansion-panel-header>

      <p>
        <mat-form-field appearance="outline" style="width: 49%;">
          <mat-label>valor minimo</mat-label>
          <input matInput min="0" type="number" [max]="this.config.respiracionMaxima"
                 [(ngModel)]="this.config.respiracionMinima" (change)="changeValues()">
        </mat-form-field>

        <mat-form-field appearance="outline" style="width: 49%; margin-left: 10px;">
          <mat-label>valor maximo</mat-label>
          <input matInput min="0" type="number" [min]="this.config.respiracionMinima"
                 [(ngModel)]="this.config.respiracionMaxima" (change)="changeValues()">
        </mat-form-field>
      </p>

<!--      <p>-->
<!--        <mat-form-field appearance="outline" style="width: 100%">-->
<!--          <mat-label>Mensaje Alerta</mat-label>-->
<!--          <input matInput type="string" [max]="breathConf.mensajeAlarma"-->
<!--                 [(ngModel)]="breathConf.mensajeAlarma" (change)="changeBreath()">-->
<!--        </mat-form-field>-->
<!--      </p>-->

    </mat-expansion-panel>

    <mat-expansion-panel>

      <mat-expansion-panel-header>
        <mat-panel-title>
          Presion Arterial
        </mat-panel-title>
        <mat-panel-description>
          Ingrese el minimo, maximo para la presión Sistolica y Diastolica.
        </mat-panel-description>
      </mat-expansion-panel-header>

      <p>
        <mat-form-field appearance="outline" style="width: 49%;">
          <mat-label>valor minimo Presión Sistolica</mat-label>
          <input matInput min="0" type="number" [max]="this.config.presionSistolicaMaxima"
                 [(ngModel)]="this.config.presionSistolicaMinima" (change)="changeValues()">
        </mat-form-field>

        <mat-form-field appearance="outline" style="width: 49%; margin-left: 10px;">
          <mat-label>valor maximo Presión Sistolica</mat-label>
          <input matInput min="0" type="number" [min]="this.config.presionSistolicaMinima"
                 [(ngModel)]="this.config.presionSistolicaMaxima" (change)="changeValues()">
        </mat-form-field>
      </p>

      <p>
        <mat-form-field appearance="outline" style="width: 49%;">
          <mat-label>valor minimo Presión Diastolica</mat-label>
          <input matInput min="0" type="number" [max]="this.config.presionDiastolicaMaxima"
                 [(ngModel)]="this.config.presionDiastolicaMinima" (change)="changeValues()">
        </mat-form-field>

        <mat-form-field appearance="outline" style="width: 49%; margin-left: 10px;">
          <mat-label>valor maximo Presión Diastolica</mat-label>
          <input matInput min="0" type="number" [min]="this.config.presionDiastolicaMinima"
                 [(ngModel)]="this.config.presionDiastolicaMaxima" (change)="changeValues()">
        </mat-form-field>
      </p>

    </mat-expansion-panel>

    <mat-expansion-panel>

      <mat-expansion-panel-header>
        <mat-panel-title>
          Temperatura Corporal
        </mat-panel-title>
        <mat-panel-description>
          Ingrese el minimo, maximo la Temperatura del paciente
        </mat-panel-description>
      </mat-expansion-panel-header>

      <p>
        <mat-form-field appearance="outline" style="width: 49%;">
          <mat-label>valor minimo</mat-label>
          <input matInput min="0" type="number" [max]="this.config.temperaturaMaxima"
                 [(ngModel)]="this.config.temperaturaMinima" (change)="changeValues()">
        </mat-form-field>

        <mat-form-field appearance="outline" style="width: 49%; margin-left: 10px;">
          <mat-label>valor maximo</mat-label>
          <input matInput min="0" type="number" [min]="this.config.temperaturaMinima"
                 [(ngModel)]="this.config.temperaturaMaxima" (change)="changeValues()">
        </mat-form-field>
      </p>


      <!--      <p>-->
      <!--        <mat-form-field appearance="outline" style="width: 100%">-->
      <!--          <mat-label>Mensaje Alerta</mat-label>-->
      <!--          <input matInput type="string" [max]="heartConf.mensajeAlarma"-->
      <!--                 [(ngModel)]="heartConf.mensajeAlarma" (change)="changeHeart()">-->
      <!--        </mat-form-field>-->
      <!--      </p>-->

    </mat-expansion-panel>

  </mat-accordion>

</mat-dialog-content>
