@import "~@fortawesome/fontawesome-free/css/all.css";

@keyframes blink {
  50% {
    background: #cc5;
    background-size: 75px 150px;
  }
}

@-webkit-keyframes blink {
  50% {
    background: #cc5;
    background-size: 75px 150px;
  }
}

@-moz-keyframes blink {
  50% {
    background: #cc5;
    background-size: 75px 150px;
  }
}

.laser {
  animation: blink 2s infinite;
  -webkit-animation: blink 2s infinite;
  -moz-animation: blink 2s infinite;
}

.mat-snack-bar-container {
  color: rgba(255, 255, 255, 0.87);
  background: #d00000;
}

.vitals-tile{
  border-bottom: white double;
  margin: -5px;
}

.vitals-panel{
  border: white double;
  width: 100%;
  height: 95%;
  margin-left: 10px;
}

.vitals-signs{
  width: 100%;
  height: 100%;
}

.current-vital{
  font-family: 'Century Gothic';
  text-align: center;
  font-size: 60px;
}
