<div style="background: #303030; height: calc(100% - 60px);">

  <mat-sidenav-container>

    <mat-sidenav opened mode="side" #sidenav *ngIf="patient">
      <patient-info [patient]="patient"></patient-info>
    </mat-sidenav>

<!--    <div>-->
<!--      <button mat-mini-fab color="primary" (click)="sidenav.toggle()" aria-label="Cerrar/Abrir">-->
<!--        <mat-icon>menu</mat-icon>-->
<!--      </button>-->
<!--    </div>-->

    <mat-grid-list #vitals cols="3" rowHeight="215px">

      <!--Hearts Section-->
      <mat-grid-tile colspan="2" class="vitals-tile">
        <div class="vitals-signs" *ngIf="configAlarm">
          <ngx-charts-line-chart
            [animations]="false"
            [scheme]="heartBeatColor"
            [tooltipDisabled]="true"
            yAxis="true"
            showXAxisLabel="false"
            xAxisLabel="Time"
            yAxisLabel="Beats"
            [yScaleMin]="configAlarm.pulsoMinimo - 20"
            [yScaleMax]="configAlarm.pulsoMaximo + 20"
            [showGridLines]="false"
            [results]="heartBeats">
          </ngx-charts-line-chart>
        </div>
      </mat-grid-tile>

      <mat-grid-tile colspan="1">
        <div class="vitals-panel">

          <mat-grid-list cols="2" rowHeight="100px">
            <mat-grid-tile colspan="1" rowspan="1">
              <div style="color: #e42323;">
                <h1 style="margin: 0">Latidos por Minuto</h1>
              </div>
            </mat-grid-tile>

            <mat-grid-tile colspan="1">
              <div style="color: #e42323;">
                <mat-icon>favorite</mat-icon>
                <h1 style="margin: 0">BPM</h1>
              </div></mat-grid-tile>
            <mat-grid-tile colspan="1"></mat-grid-tile>

            <mat-grid-tile colspan="1" rowspan="1">
              <div class="">
                <h1 class="current-vital" style="color: #e42323">{{actualBeatValue}}</h1>
              </div>
            </mat-grid-tile>
          </mat-grid-list>
        </div>
      </mat-grid-tile>

      <!--SpO2 Section-->
      <mat-grid-tile colspan="2" class="vitals-tile">
        <div class="vitals-signs" *ngIf="configAlarm">
          <ngx-charts-line-chart
            [animations]="false"
            [curve]="curve"
            [scheme]="oxigenColor"
            [tooltipDisabled]="true"
            autoScale="true"
            showXAxisLabel="false"
            xAxisLabel="Time"
            yAxisLabel="Oxigen in Blood"
            [yScaleMin]="configAlarm.oxigenoEnSangreMinimo - 20"
            [yScaleMax]="configAlarm.oxigenoEnSangreMaximo + 20"
            [showGridLines]="false"
            [results]="oxigenPM">
          </ngx-charts-line-chart>
        </div>
      </mat-grid-tile>

      <mat-grid-tile colspan="1">
        <div class="vitals-panel">

          <mat-grid-list cols="2" rowHeight="100px">
            <mat-grid-tile colspan="1" rowspan="1">
              <div style="color: #2fdee4;">
                <h1 style="margin: 0">Oxigeno en Sangre</h1>
              </div>
            </mat-grid-tile>

            <mat-grid-tile colspan="1">
              <div style="color: #2fdee4;">
                <mat-icon>favorite</mat-icon>
                <mat-icon>opacity</mat-icon>
                <h1 style="margin: 0">SpO2</h1>
              </div></mat-grid-tile>

            <mat-grid-tile colspan="1"></mat-grid-tile>

            <mat-grid-tile colspan="1" rowspan="1">
              <div class="">
                <h1 class="current-vital" style="color: #2fdee4">{{actualSpO2Value}}</h1>
              </div>
            </mat-grid-tile>
          </mat-grid-list>
        </div>
      </mat-grid-tile>

      <!--Temperature Section-->
      <mat-grid-tile colspan="1" >
        <div class="vitals-panel">

          <mat-grid-list cols="2" rowHeight="100px">
            <mat-grid-tile colspan="1" rowspan="1">
              <div style="color: #e4df36;">
                <h1 style="margin: 0">Temperatura</h1>
              </div>
            </mat-grid-tile>

            <mat-grid-tile colspan="1">
              <div style="color: #E4DF36;">
                <mat-icon fontSet="fas" fontIcon="fa-thermometer-half" style="font-size: 24px;"></mat-icon>
                <h1 style="margin: 0">Temp</h1>
              </div></mat-grid-tile>

            <mat-grid-tile colspan="2" rowspan="1">
              <div class="">
                <h1 class="current-vital" style="color: #E4DF36">{{temperaturaActual | number: '0.0-2' }}</h1>
              </div>
            </mat-grid-tile>
          </mat-grid-list>
        </div>
      </mat-grid-tile>

      <!--Arterial Pressure Section-->
      <mat-grid-tile colspan="1" >
        <div class="vitals-panel" style="margin-right: 5px">

          <mat-grid-list cols="2" rowHeight="100px">
            <mat-grid-tile colspan="1" rowspan="1">
              <div style="color: #e42427;">
                <h1 style="margin: 0">Presión Arterial</h1>
              </div>
            </mat-grid-tile>

            <mat-grid-tile colspan="1">
              <div style="color: #e42427;">
                <mat-icon>trending_up</mat-icon>
                <mat-icon>favorite</mat-icon>
                <h1 style="margin: 0">AT</h1>
              </div>
            </mat-grid-tile>

            <mat-grid-tile colspan="2" rowspan="1">
              <div class="">
                <h1 class="current-vital" style="color: #e42427">
                  {{presionSitolica}}
                  <span style="font-family: 'Century Gothic'">/</span>
                  {{presionDiastolica}}
                </h1>
              </div>
            </mat-grid-tile>
          </mat-grid-list>
        </div>
      </mat-grid-tile>

      <!--Breaths Section-->
      <mat-grid-tile colspan="1">
        <div class="vitals-panel">

          <mat-grid-list cols="2" rowHeight="100px">
            <mat-grid-tile colspan="1" rowspan="1">
              <div style="color: #37e470;">
                <h1 style="margin: 0">Ritmo Respiratorio</h1>
              </div>
            </mat-grid-tile>

            <mat-grid-tile colspan="1">
              <div style="color: #37e470;">
                <mat-icon>trip_origin</mat-icon>2
                <h1 style="margin: 0">RR</h1>
              </div></mat-grid-tile>
            <mat-grid-tile colspan="1"></mat-grid-tile>

            <mat-grid-tile colspan="1" rowspan="1">
              <div class="">
                <h1 class="current-vital" style="color: #37e470">{{acutalBreathValue}}</h1>
              </div>
            </mat-grid-tile>
          </mat-grid-list>
        </div>
      </mat-grid-tile>

    </mat-grid-list>

  </mat-sidenav-container>
</div>

